# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
build/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Tests / coverage
coverage/
.nyc_output/

# Prisma
backend/prisma/migrations/dev.db*
*.sqlite
*.sqlite-journal

# Docker
.docker/

# Vite
.vite/

# Frontend
frontend/dist/
frontend/.turbo/
