APP_ENV=development
PORT=4000

# Postgres (DSN GORM)
DATABASE_DSN=host=localhost user=hrco password=hrco_secret dbname=hrco port=5432 sslmode=disable TimeZone=America/Bogota

# JWT
JWT_ACCESS_SECRET=dev-access-secret-please-change-min-32-characters
JWT_REFRESH_SECRET=dev-refresh-secret-please-change-min-32-characters
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h

# CORS
CORS_ORIGIN=http://localhost:5173

# Logging / boot
LOG_LEVEL=debug
AUTO_MIGRATE=true
SEED_ON_BOOT=false
